<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Acerca de Nosotros</title>
</head>
<body>
    <h1>Acerca de Nosotros</h1>
    <p>Bienvenido a nuestra página de información. Somos una empresa dedicada a brindar soluciones tecnológicas innovadoras para nuestros clientes.</p>
    <p>Nuestro equipo está formado por profesionales apasionados por la tecnología y el desarrollo de software.</p>
    <a href="/">Volver al inicio</a>
</body>
</html>